<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Scorekeeper</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class = "signinContainer">
            <form class = "signinForm" action = "/signin" method = "POST">
                <h3>Welcome to <span>VB Scorekeeper.</span></h3>
                <input class = "formTextInput" type = "email" name = "email" id = "email" placeholder="Email" required>
                <input class = "formTextInput" type = "password" name = "password" placeholder="Password" required>
                {% if error %}
                    <p class="errorMessage">{{ error }}</p>
                {% endif %}
                <input class = "formButtonInput" type = "submit" value = "Log in"> 
                <p class = "signupMessage">
                    Don't have an account? <a href="/signup">Sign Up</a>
                </p> 
            </form>
        </div>
    </body>
</html>
